.MainTitle {
  margin: 1rem;
  padding: 0 1rem;
  border-bottom: .1rem dashed gold;
  
  font-family: "Roboto", monospace;
  max-width: max-content;
  letter-spacing: 5px;
  
  color: #3ab4c7 !important;
}