.stack {
	/* forestgreen, darkgoldenrod  */
	--stack-border-color: yellowgreen;
	--stack-border: 5px;
	--stack-solid-border: var(--stack-border) solid var(--stack-border-color);
	--stack-dashed-border: var(--stack-border) dashed var(--stack-border-color);

	--stack-item-width: 15rem;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-end;

	user-select: none;

	height: 60vh;
}

.stack ul {
	overflow-y: auto;
	width: calc(var(--stack-item-width) + 5rem);
}

.stack .stack-item {
	width: var(--stack-item-width);
	padding: 0.45vmin 1.125vmin;
	margin: 0 1vw;

	text-align: center;

	font-size: 1.5rem;
	font-weight: bold;

	border-right: var(--stack-solid-border);
	border-left: var(--stack-solid-border);
}

.stack .stack-item {
	border-right: var(--stack-solid-border);
	border-left: var(--stack-solid-border);
}

.stack .stack-item:first-child {
	border-top: var(--stack-solid-border);
	position: relative;
}

.stack.display-top .stack-item:first-child:not(.null)::after {
	color: #49ac25;
	content: "<-- top";
	right: 1rem;
	position: absolute;
}

.stack .stack-item:not(:last-child) {
	border-bottom: var(--stack-dashed-border);
}

.stack .stack-item:last-child {
	border-bottom: var(--stack-solid-border);
}

.stack .stack-item.null:last-child {
	border-bottom: var(--stack-solid-border);
	background-color: brown;
}
