.stack {
  /* forestgreen, darkgoldenrod  */
  --stack-border-color: yellowgreen;
  --stack-border: 5px;
  --stack-solid-border: var(--stack-border) solid var(--stack-border-color);
  --stack-dashed-border: var(--stack-border) dashed var(--stack-border-color);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.stack .stack-item {
  width: 15rem;
  padding: 0.45vmin 1.125vmin;
  margin: 0 1vw;

  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;

  border-right: var(--stack-solid-border);
  border-left: var(--stack-solid-border);
}

.stack .stack-item {
  border-right: var(--stack-solid-border);
  border-left: var(--stack-solid-border);
}

.stack .stack-item:first-child {
  border-top: var(--stack-solid-border);
}

.stack .stack-item:first-child::after {
  color: #49ac25;
  content: "<-- top";
  padding-left: 7rem;
  position: absolute;
}

.stack .stack-item:not(:last-child) {
  border-bottom: var(--stack-dashed-border);
}

.stack .stack-item:last-child {
  border-bottom: var(--stack-solid-border);
}
